a {    color: #0060B6;
    text-decoration: none;
}

a:hover, 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}

body {
  font-family: sans-serif;
  background-color: rgb(66,66,66);
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 100%;
}

div#login{
  margin-top: 100px;
}

ul {
  background-color: #555555;
  margin-top: 0px;
  padding-left: 0px;
  height: 100vh;
}

h1#firstHead, h1#label1 {
  font-size: 65px;
  padding:0px;
}


img#img3, img#img1{
  width: 84px;
  height: 84px;
}

img#img4, img#img2{
  width: 44px;
  height: 44px;
  margin-right: 10px;
  padding:0px;
}

h1#firstHead, h1#label1{
  color: rgb(255,255,255);
  font-weight: bold;
  text-align: center;
  margin-top:0px;
  margin-bottom: 0px;
  padding: 0px;
  opacity: 1;
}


h1#label1, .img1, .img2, h1#firstHead, .img3, .img4 {
  display: inline-block;
}

div#login{
  text-align: center;
  align-content: center;
}

div#input1{
  margin-bottom: 30px;
}
.loginForm > div > input {
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #9e9e9e;
  font-family: Arial;
  border-right: none;
  border-top: none;
  border-left: none;
  box-shadow: none;
  border-left: 3px;
  margin-top: 2%;
  color: white;
  font-size: 18px;
  width: 25%;
  padding: 1%;
  margin-top: 10px;
}

.loginForm > div > input:focus{
  border-bottom: 2px solid #439DBB;
  outline: none;
}

input#loginButton {
  text-align: center;
}

input#loginButton, .search-btn > button {
  background-color: #8BC34A;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  height: 40px;
  width: 140px;
  margin-top: 3%;

}

.search-btn > button{
}


p#question {
  color: #00bcd4;
  font-family: Arial;
  text-align: center;
  margin-top: 2%; 
}

p#signup {
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  color: #8BC34A;
  margin-top: -3%;
  margin-left: 20%; 
}

div#firstHeader{
  background-color: #439DBB;
  height: 86px;
  border: 0px solid #ccc;
  width: 100%;
  margin: 0px auto;
  top: 0px;
  border-bottom: 2px solid #ccc;
}

img#img3, img#img1{
  opacity: 1;
  border: 0;
  outline: 0;
  background: transparent;
  color: rgb(255,255,255);
}

div#firstHeadercomponenets{
  padding: 0px;
  margin-left: 25%;
}


.secondHeader{
  background-color: #439DBB;
  height: 50px;
  border: 1px solid #555555;
  margin: 0px auto;
  width:679px;
}

.content{
  background-color: #555555;
  width:680px;
  height:625px;
  border:0px solid #ccc;
  margin: 150px auto;
}


.navigationBar{
  width: 200px;
}

.searchIcon, .subscriptionIcon, .messageIcon, .requestsIcon, .logoutIcon{
  width: 25px;
  height: 25px;
  margin: 0px;
  margin-left:82%;
  margin-top:-13%;
  margin-bottom:9%;
  padding: 0px;
}


.searchNav, .subscriptionNav, .messageNav, .requestsNav, .logoutNav{
  width: 198px;
  height:50px;
  border-bottom:1px solid #ccc;
  padding: 0px;
}

p#navText{
  padding-top: 6%;
  margin: 0px ;
  color: rgb(255,255,255);
  text-indent: 8%;
  font-size: 140%;
}

.searchHead1 > button,.searchHead2 > button {
  background-color: transparent;
  height: 50px;
  width:339.5px;
  font-size: 200%;
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.searchHead1 > button {
  margin-left:305px;
}

.searchHead2 > button {
  margin-left:645px;
}

.searchlocation > div > input, .cost > div > input , .preferredTime > div > input, 
.specialization > div > input{
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #00ff00;
  font-family: Arial;
  border-right: none;
  border-top: none;
  border-left: none;
  box-shadow: none;
  border-left: 3px;
  margin-top: 2%;
  color: white;
  font-size: 18px;
  width: 300px;
  height: 35px;
}
.searchlocation > div > input:focus, .cost > div > input:focus , 
.preferredTime > div > input:focus, .specialization > div > input:focus{
border-bottom: 2px solid #439DBB;
  outline: none;
}

p#searchTab { 
  font-size : 150%;
  color: white;
  margin-left: 300px;
  margin-bottom: -48px;
}

.searchlocation > div , .personal > div , .cost > div, .preferredTime > div, .specialization > div{
  width:680px;
  height: 50px;
}

.personal > div > form > input{
  margin-left: 595px;





/*signup css*/

  /*body {
    background-color: rgb(34,34,34);
*/
    

}

header{
  position: absolute;
  background-color: #439DBB;
  height: 100px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  

}

h1#title{
    display: inline;
    color: White;
    font-family: arial;
}
  
img#image1{
  height: 90px;
}

img#image2{
  height: 90px;
}
form#login1 {
  text-align: center;
   height: 650px;
   background-color: #555555;
   width: 50%;
   margin-left: auto;
   margin-right: auto; 

  }

h2#title2{
    color: white;
    text-align: center;
    background-color: #439DBB;
    font-size: 40px;
    font-family: arial;
    height: 60px;
    
}
/*label{
  position: inherit;
  color:white;
  font-family: arial;
  font-size: 20px;
 /* margin-right: 250px;
}*/

input#reg, select#usertype {
text-align: center;
    color: white;
    font-size: 30px;
    font-weight: normal;
    line-height: normal;
    font-family: arial;

}


input#reg, select#usertype{
 /* position: relative;
  display: block;
  width:250px;
  height: 30px;
  margin-bottom: 18px;
  font-size: 15px;*/
  

    color: black;
    display: inline-block;
    margin-right: 0;
    font-size: 15px;
    height: 18px;
    line-height: 30px;
    padding: 4px;
    width: 210px;
    margin-bottom: 10px;

}



.btn{
 margin-top: 30px;
 width:200px;
 height: 40px;
 font-size: 20px;
 font-family: arial;
 background-color: #8BC34A;
 color: white;
 
}


label#inputtxt{

   color: white;
    float: left;
    font-size: 20px;
    line-height: 18px;
    padding-top: 6px;
    text-align: left;
    /*padding-left: px;*/
    width: 140px;
}

.inputLabels{
  text-align: center;
  margin-left: 20%;
  margin-top: 10%;
  font-family: arial;
}

select#usertype{

  border-radius: none;
  width: 220px;
  height: 40px;
  font-size: 400px;

}

