
body {
  font-family: sans-serif;
  background-color: rgb(66,66,66);
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}


.label{
	line-height: 44px;
	color: rgb(255,255,255);
	font-size: 36px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  width: 212px;
  height: 44px;
  transform: matrix(1, 0, 0, 1, 300, 0);
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding:100px;
}

.img1{
  opacity: 1;
  width: 84px;
  height: 84px;
  transform: matrix(1, 0, 0, 1, -100, 0);
  border-radius: 0px;
  background: 0 0 repeat;
  background-size: 100% 100%;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	background: center center no-repeat;
  background-size: contain;
  color: rgb(255,255,255);
}

.img2{
  opacity: 1;
  width: 64px;
  height: 84px;
  transform: matrix(1, 0, 0, 1, -90, 50);
  border-radius: 0px;
  background: 0 0 repeat;
  background-size: 100% 100%;
	margin: 0;
	padding: 10px;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	background: center center no-repeat;
  background-size: contain;
  color: rgb(255,255,255);
  padding-left: 450px;
}

.label, .img1, .img2 {
	display: inline-block;
}

/*copied from manju*/
.forms {
  text-align: center;
}

.forms > div > input {
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #9e9e9e;
  font-family: Arial;
  border-right: none;
  border-top: none;
  border-left: none;
  box-shadow: none;
  border-left: 3px;
  margin-top: 2%;
  color: white;
  font-size: 18px;
  width: 300px;
  height: 35px;
  transform: matrix(1, 0, 0, 1, -40, -10);
}

.login > .forms > div > input:focus {
  border-bottom: 2px solid #00bcd4;
  outline: none;
}

.login > .login-btn {
  text-align: center;
}

.login-btn > button {
  background-color: #8BC34A;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial;
  height: 40px;
  width: 140px;
  margin-top: 45px;
  transform: matrix(1, 0, 0, 1, 542, -15);

}

p#question {
  color: #00bcd4;
  font-family: Arial;
  text-align: center;
  margin-top: 6%; 
  transform: matrix(1, 0, 0, 1, -30, -60);
}

p#signup {
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  color: #8BC34A;
  transform: matrix(1, 0, 0, 1, -35, -60);
}

/*end*/