
body {
  font-family: sans-serif;
  background-color: rgb(66,66,66);
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}


.label{
	line-height: 44px;
	color: rgb(255,255,255);
	font-size: 36px;
    background-color: transparent;
    font-weight: bold;
    text-align: left;
    opacity: 1;
    width: 212px;
    height: 44px;
    transform: matrix(1, 0, 0, 1, 535, 120);
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;

}
.img1{
    opacity: 1;
    width: 84px;
    height: 84px;
    transform: matrix(1, 0, 0, 1, 451, 101);
    border-radius: 0px;
    background: 0 0 repeat;
  	background-size: 100% 100%;
	margin: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	background: center center no-repeat;
    background-size: contain;
    color: rgb(255,255,255);
}
.img2{
    opacity: 1;
    width: 84px;
    height: 84px;
    transform: matrix(1, 0, 0, 1, 451, 101);
    border-radius: 0px;
    background: 0 0 repeat;
  	background-size: 100% 100%;
	margin: 0;
	padding: 10px;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	background: center center no-repeat;
    background-size: contain;
    color: rgb(255,255,255);
    padding-left: 450px;
}

}

.new-task{
	opacity: 1;
    width: 330px;
    height: 48px;
    transform: matrix(1, 0, 0, 1, 476, 225);
    background-color: rgba(0,0,0,0);
  	position: relative;
}
}

button{
	font-family: Roboto Medium, sans-serif;
font-weight: bold;
color: #FFFFFF;
font-size: 14px;
background: #439DBB;
}

.label, .img1, .img2 {
	display: inline-block;
}