<template name="app_layout">
<div id="layout-body">
<div id="sidr">
  <ul>
    <li id="logo-list"><img src="images/logo.svg"></li>
    <li class="active"><a href="#">Search</a><img class="icons" src="images/search.svg"></li>
    <li><a href="#">Subscription</a><img class="icons" src="images/subscription.svg"></li>
    <li><a href="#">Messages</a><img class="icons" src="images/messages.svg"></li>
    <li><a href="#">Requests</a><img class="icons" src="images/requests.svg"></li>
    <li><a href="#">Logout</a><img class="icons" src="images/logout.svg"></li>
  </ul>
</div>

<a id="simple-menu" href="#sidr">Toggle menu</a>

hello
</div>
</template>