<template name="app_layout">
<ul class="navigation">
  <li class="brand-logo"><img src="/images/logo.svg"/></li>
  <li class="nav-item"><a href="#">Home</a></li>
  <li class="nav-item"><a href="#">Portfolio</a></li>
  <li class="nav-item"><a href="#">About</a></li>
  <li class="nav-item"><a href="#">Blog</a></li>
  <li class="nav-item"><a href="#">Contact</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>

<div class="site-wrap">
</div>
</template>