<template name="chat">
	<div id="app-header">
	  <img id="back-messages" src="images/back-btn.png" width="30px" height="30px"/>
	  <h3>Username</h3>
	</div>

	<div class="chat-view">
		<div class="chat-body">
		<p class="left-message">hello how are you<span>11:30</span></p>
		<p class="right-message">I am doing fine joe<span>23:32</span></p>
		</div>
		<div class="chat-footer">
			<input type="text" name="typed-chat" placeholder="Start here by saying hi !">
			<img src="images/send-btn.svg">
		</div>	
	</div>

</template>