<template name="profile">
<div class = "profile">

  <div class="perdet">
    <a href="{{pathFor 'perdetails'}}">Personal Details</a>
    <img class="icons" src="images/personal_1.svg">
  </div>

  <div class="prodet">
    <a href="{{pathFor 'prodetails'}}">Professional Details</a>
    <img class="icons" src="images/professional.svg">
  </div>

  <div class="propic">
    <a href="{{pathFor 'profilepic'}}">Profile Picture</a>
    <img class="icons" src="images/profilepic.svg">
  </div>

  <div class="accdet">
    <a href="{{pathFor 'accdetails'}}">Account Details</a>
    <img class="icons" src="images/settings.svg">
  </div>
</div>
</template>


<template name="perdetails">
<div class="container">
  <div id="profile-header">
    <a href="/profile"><img id="simple-menu" src="images/back-btn.png" width="30px" height="30px"/></a>
    <h3>Personal Details</h3>
    <img class="perdetsave" src="images/save.svg" width="30px" height="30px"/>
  </div>

  <div class="forms">
    <form class="perdet-form forms" name="predet">
      <div>
      {{#if info.firstname}}
      <input name ="firstname" value="{{ info.firstname }}"><br>
      <label>Firstname</label>
      {{else}}
      <input name ="firstname" placeholder="First Name">      
      {{/if}}
      </div>

      <div>
      {{#if info.lastname}}
      <input name="lastname" value="{{ info.lastname }}"><br>
      <label>Lastname</label>
      {{else}}
      <input name ="lastname" placeholder="Last Name">
      {{/if}}
      </div>

      <div>       
      {{#if info.dob}}       
      <input name ="dob" type="text" value= "{{ info.dob }}" onfocus="(this.type='Date')"><br>
      <label>DOB</label>
      {{else}}       
      <input name ="dob" type="text" value="" placeholder="Date of Birth" onfocus="(this.type='Date')" onblur="(this.type='text')">       
      {{/if}}       
      </div>

      <select id="gender">
        {{#if get_gender 'male'}}
        <option value="male" selected="selected">Male</option>
        <option value="female">Female</option>
        {{/if}}
        {{#if get_gender 'female'}}
          <option value="male">Male</option>
          <option value="female" selected="selected">Female</option>
        {{/if}}
        {{#if get_gender 'undefined'}}
          <option>Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        {{/if}}
      </select>

      <div class="location">
        {{#if info.location.location}}
        <input id="place" type="text" name ="place" value="{{ info.location.location }}"><br>
        <label>Location</label>
        {{else}}
        <input id="place" type="text" name ="place" placeholder="Enter your location" value="">
        {{/if}}
      </div>
    </form>
  </div>
</div>
</template>

<template name="prodetails">

{{#if get_acctype 'user'}}
  <div class="container">
      <div id="profile-header">
      <a  href="/profile"><img id="simple-menu" src="images/back-btn.png" width="30px" height="30px"/></a>
      <h3>Professional Details</h3>
      <img class="prodetsave" src="images/save.svg" width="30px" height="30px"/>
    </div>
    <form class="prodet-form forms" name="prodet">

      <select id="user-category">
        <option>Category</option>
        <option value="unemployed">Unemployed</option>
        <option value="working">Working</option>
        <option value="studying">Studying</option>
        <option value="others">Others</option>
      </select>

    </form>
  </div>
{{/if}}

{{#if get_acctype 'trainer'}}
  <div class="container">
    <div id="profile-header">
      <a  href="/profile"><img id="simple-menu" src="images/back-btn.png" width="30px" height="30px"/></a>
      <h3>Professional Details</h3>
      <img class="prodetsave" src="images/save.svg" width="30px" height="30px"/>
    </div>

    <div class="forms">
      <form class="prodet-form forms" name="prodet">

      <div>
      {{#if if_defined info.experience}}
      <input name="experience" type="number" min=0 placeholder="{{ info.experience 
      }} yrs" value="{{ info.experience 
      }}"><br>
      <label>Experience yrs</label>
      {{else}}
      <input name="experience" type="number" min=0 placeholder="Experience in years">
      {{/if}}
      </div>

      <select multiple="multiple" id="trainer-spez" placeholder="Specialization">
        <option>Specialization</option>
          {{#if has_specialization 'gym'}}
            <option class="multiple-select selected" value="gym" selected="selected">Gym</option>
          {{else}}
            <option class="multiple-select selected" value="gym">Gym</option>
          {{/if}}
        {{#if has_specialization 'swimming'}}
          <option class="multiple-select selected" value="swimming" selected="selected">Swimming</option>
        {{else}}
          <option class="multiple-select" value="swimming">Swimming</option>
        {{/if}}
        {{#if has_specialization 'aerobics'}}
          <option class="multiple-select selected" value="aerobics" selected="selected">Aerobics</option>
        {{else}}
          <option class="multiple-select" value="aerobics">Aerobics</option>
        {{/if}}
        {{#if has_specialization 'sports'}}
          <option class="multiple-select selected" value="sports" selected="selected">Sports</option>
        {{else}}
          <option class="multiple-select" value="sports">Sports</option>
        {{/if}}
        {{#if has_specialization 'others'}}
          <option class="multiple-select selected" value="others" selected="selected">Others</option>
        {{else}}
          <option class="multiple-select" value="others">Others</option>
        {{/if}}
      </select>

      <div>
      {{#if if_defined info.cost}}
      <input name="cost" type="number" min=0 placeholder="{{ info.cost }} €/hr" value="{{ info.cost }}"><br>
      <label>Cost</label>
      {{else}}
      <input name="cost" type="number" min=0 placeholder="Approx. Cost/Hour">
      {{/if}}
      </div>

      <div id="time">Available Time
      <img class="icon1" src="images/add.svg">
      </div>
      <input name ="from" value="" type="text" placeholder="From" onblur="(this.type='text')" onfocus="(this.type='time')" style="width:36%; margin-left: 10%; display: inline-block;">
      <input name ="to" value="" placeholder="To" type="time" onblur="(this.type='text')" onfocus="(this.type='time')" style="width:36%; margin-right: 10%; display: inline-block;">
      </form>
    </div>

    
    <div class="availability-display">
    <table>
    {{#each info.availability}}
      <tr>
        <td>{{ from.getHours -1 }}:{{ from.getMinutes }}</td>
        <td>{{ to.getHours -1}}:{{ to.getMinutes}}</td>
      </tr>
    {{/each}}
    </table>
    </div>
  </div>
{{/if}}

{{#if get_acctype 'nutritionist'}}
  <div class="container">
    <div id="profile-header">
      <a  href="/profile"><img id="simple-menu" src="images/back-btn.png" width="30px" height="30px"/></a>
      <h3>Professional Details</h3>
      <img class="prodetsave" src="images/save.svg" width="30px" height="30px"/>
    </div>

    <div class="forms">
      <form class="prodet-form forms" name="prodet">

      <div>
      {{#if info.experience}}
      <input name="experience" type="number" min=0 placeholder="Experience in years" value="{{ info.experience }}">
      {{else}}
      <input name="experience" type="number" min=0 placeholder="Experience in years">
      {{/if}}
      </div>

      <select multiple="multiple" id="nut-specialization">
        <!-- <option >Specialization</option> -->
        <option value="gerontological">Gerontological</option>
        <option value="sports">Sports Dietetics</option>
        <option value="pediatric">Pediatric Nutrition</option>
        <option value="renal">Renal Nutrition</option>
        <option value="oncology">Oncology Nutrition</option>
        <option value="others">Others</option>
      </select>

      <div>
      {{#if info.cost}}
      <input name="cost" type="number" min=0 placeholder="Approx. Cost/Session" value="{{ info.cost }}">
      {{else}}
      <input name="cost" type="number" min=0 placeholder="Approx. Cost/Session">
      {{/if}}
      </div>
      
      <div id="time">Available Time
      <img class="icon1" src="images/add.svg">
      </div>
      <input name ="from" value="" type="text" placeholder="From" onblur="(this.type='text')" onfocus="(this.type='time')" style="width:36%; float:left;margin-left: 10%">
      <input name ="to" value="" placeholder="To" type="time" onblur="(this.type='text')" onfocus="(this.type='time')" style="width:36%; float:right;margin-right: 10%">
      <div><textarea readonly class="scrollable" rows="4" cols="10"></textarea></div>

      </form>
    </div>
  </div>
{{/if}}
</template>


<template name="profilepic">
<div class="container">
  <div id="profile-header">
    <a href="/profile"><img id="simple-menu" src="images/back-btn.png" width="30px" height="30px"/></a>
    <h3>Profile Picture</h3>
    <img class = "icon1" src="images/save.svg" width="30px" height="30px"/>
  </div>
    <div class="profilepic">
      <p>Add your Profile picture</p>

      {{#if photo}}
        <img src={{photo}} />
      {{/if}}
      {{#if defined info.pro_image photo}}
      <img src={{info.pro_image}} />
      {{/if}}
      {{#if nothing_defined info.pro_image photo}}
      <img src="images/camera.png">
      {{/if}}
    </div>	
</div>
</template>

<template name="accdetails">
<div class="container">
  <div id="profile-header">
    <a href="/profile"><img id="simple-menu" src="images/back-btn.png" width="30px" height="30px"/></a>
    <h3>Account Details</h3>
    <img src="images/save.svg" width="30px" height="30px"/>
  </div>


  <div class="forms">
    <form class="accdet-form forms" name="accdet">

    <div><input readonly name ="username" placeholder="Username" value = "{{info.username}}"></div>
    <div><input readonly name ="email" type="email" placeholder="Email Address" value="{{ info.email }}"></div>
    <div><input readonly name="password" type="password" placeholder="Password" value="{{ info.password }}"/></div>

    </form>
  </div>
</div>
</template>