<template name="signup">

<div class="header">
    <h1>Sign Up</h1>
</div>

<div class="forms">
    <select id="account-type">
      <option>Choose Account Type</option>
      <option value="suser">User</option>
      <option value="strainer">Trainer</option>
      <option value="snutritionist">Nutritionist</option>
    </select>

  <div><input name ="firstname" placeholder="First Name"></div>
  <div><input name ="lastname" placeholder="Last Name"></div>
  <div>
    <input name ="dob" type="text" value="" placeholder="Date of Birth" onfocus="(this.type='Date')"  onblur="(this.type='text')">
  </div>

    <select id="gender">
      <option>Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>

  <div class="location">
    <input id="place" type="text" name ="place" placeholder="Location" value="">
  </div>
  
  <a class="next"><img src="images/front.png"></a>


<p id = "text">Already a Member ?</p>
<p id = "text1"><a class="green" href="/">Log In</a></p>

</div>

</template>

<!-- Sign up for User -->
<template name='suser'>
<div class="container">

<div class="header">
    <h1>Sign Up</h1>
</div>

<div class="forms">

    <div><input name ="username" placeholder="Username"></div>
    <div><input name ="email" type="email" placeholder="Email Address"></div>
    <div><input name="password" type="password" placeholder="Password"/></div>
    <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="back"> 
        <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
      </div>

      <div style="margin-top:35%">
        <a class="next" href="{{pathFor 'profilepicture'}}"><img src="images/front.png"></a>
       </div>
    </div>

</div>
</template>
<!--# End of Sign up for User -->

<!-- Sign up for Trainer -->
<template name='strainer'>
<div class="container">

    <div class="header">
        <h1>Sign Up</h1>
    </div>

  <div class="forms">

    <div><input name="experience" type="number" pattern="\d*" min=0 placeholder="Experience in years"></div>
    <div><input name="specialization" placeholder="Specialization"></div>
    <div><input name ="email" type="email" placeholder="Email Address"></div>
    <div><input name="password" type="password" placeholder="Password"/></div>
    <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="back"> 
        <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
      </div>

      <div style="margin-top:35%">
        <a class="next" href="{{pathFor 'profilepicture'}}"><img src="images/front.png"></a>
        </div>
      </div>

    </div>

</template>
<!--# End of Sign up for Trainer-->

<!-- Sign up for Nutritionist -->
<template name='snutritionist'>
<div class="container">

    <div class="header">
        <h1>Sign Up</h1>
    </div>

  <div class="forms">

    <div><input name="experience" type="number" pattern="\d*" min=0 placeholder="Experience in years"></div>
    <div><input name="specialization" placeholder="Specialization"></div>
    <div><input name ="email" type="email" placeholder="Email Address"></div>
    <div><input name="password" type="password" placeholder="Password"/></div>
    <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="back"> 
        <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
      </div>

      <div style="margin-top:35%">
        <a class="next" href="{{pathFor 'profilepicture'}}"><img src="images/front.png"></a>
        </div>
      </div>

    </div>
</template>
<!--# End of Sign up for Nutritionist-->

<template name="profilepicture">

<div class="container">
    <div class="header">
        <h1>Sign Up</h1>
    </div>

    <div class="profile-picture">
      <p>Add your Profile picture</p>

      {{#if photo}}
      <img src={{photo}} />
      {{else}}
      <img src="images/camera.png">
      {{/if}}
    </div>

    <div class="back"> 
      <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
    </div>

    <div class="create-acc"> 
      <button>Create Account</button>
    </div>

</div>

</template>