<template name="signup">
<div class="container">
  <div class="header">
      <h1>Sign Up</h1>
  </div>

  <div class="forms">
    <form class="signup-form forms" name="signup">
    <select id="account-type">
      <option>Choose Account Type</option>
      <option value="suser" name="user">User</option>
      <option value="strainer" name="trainer">Trainer</option>
      <option value="snutritionist" name="nutritionist">Nutritionist</option>
    </select>

      <div><input name ="username" placeholder="Username"></div>
      <div><input name ="email" type="email" placeholder="Email Address"></div>
      <div><input name="password" type="password" placeholder="Password"/></div>
      <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="create-acc-btn">
        <button type="submit">Create Account</button>
      </div>
    </form>
  </div>

  <p id = "question">Already a Member ?</p>
  <p id = "signup"><a class="green" href="/">Log In</a></p>

</div>
</template>

<!-- Sign up for User -->
<template name='suser'>
<div class="container">

<div class="header">
    <h1>Sign Up</h1>
</div>

<div class="forms">

    <div><input name ="username" placeholder="Username"></div>
    <div><input name ="email" type="email" placeholder="Email Address"></div>
    <div><input name="password" type="password" placeholder="Password"/></div>
    <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="back"> 
        <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
      </div>

      <div style="margin-top:35%">
        <a class="next" href="{{pathFor 'profilepicture'}}"><img src="images/front.png"></a>
       </div>
    </div>

</div>
</template>
<!--# End of Sign up for User -->

<!-- Sign up for Trainer -->
<template name='strainer'>
<div class="container">

    <div class="header">
        <h1>Sign Up</h1>
    </div>

  <div class="forms">

    <div><input name="experience" type="number" pattern="\d*" min=0 placeholder="Experience in years"></div>
    <div><input name="specialization" placeholder="Specialization"></div>
    <div><input name ="email" type="email" placeholder="Email Address"></div>
    <div><input name="password" type="password" placeholder="Password"/></div>
    <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="back"> 
        <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
      </div>

      <div style="margin-top:35%">
        <a class="next" href="{{pathFor 'profilepicture'}}"><img src="images/front.png"></a>
        </div>
      </div>

    </div>

</template>
<!--# End of Sign up for Trainer-->

<!-- Sign up for Nutritionist -->
<template name='snutritionist'>
<div class="container">

    <div class="header">
        <h1>Sign Up</h1>
    </div>

  <div class="forms">

    <div><input name="experience" type="number" pattern="\d*" min=0 placeholder="Experience in years"></div>
    <div><input name="specialization" placeholder="Specialization"></div>
    <div><input name ="email" type="email" placeholder="Email Address"></div>
    <div><input name="password" type="password" placeholder="Password"/></div>
    <div><input name="confirmpassword" type="password" placeholder="Retype Password"/></div>

      <div class="back"> 
        <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
      </div>

      <div style="margin-top:35%">
        <a class="next" href="{{pathFor 'profilepicture'}}"><img src="images/front.png"></a>
        </div>
      </div>

    </div>
</template>
<!--# End of Sign up for Nutritionist-->

<template name="profilepicture">

<div class="container">
    <div class="header">
        <h1>Sign Up</h1>
    </div>

    <div class="profile-picture">
      <p>Add your Profile picture</p>

      {{#if photo}}
      <img src={{photo}} />
      {{else}}
      <img src="images/camera.png">
      {{/if}}
    </div>

    <div class="back"> 
      <a class="green" href="#" onclick="history.go(-1);"><img src="images/back.png"></a>
    </div>

    <div class="create-acc"> 
      <button>Create Account</button>
    </div>

</div>

</template>