<template name="signup">
<div class="container">
<div class = "header">
    <img class="image" src="images/logo.svg">
    <span class="heading">FindFitness</span>
</div>

  <p id="clienttype">Client Type</p>

  <div class="dropdown">
    <select>
    <option>Select Profile</option>
      <option value="User">User</option>
      <option value="Trainer">Trainer</option>
      <option value="Nutritionist">Nutritionist</option>
    </select>
  </div>

  <p id="info">(Please select the appropriate profile from the above menu!)</p>
</div>
</template>


<template name="signup1">
<div class="signup-form">
  <div>
    <input name ="firstname" placeholder="First Name">
    <input name ="lastname" placeholder="Last Name">
    <input name ="email" placeholder="Email Address">
    <input name ="dob" placeholder="Date of Birth in DD/MM/YYYY format">
    <input name ="address" placeholder="Address">
  </div>
</div>
</template>