html {
  overflow: hidden;
}

#logo-list {
  height: 10em;
  text-align: center;
}

#logo-name {
  font-size: 18px;
  font-weight: bold;
}

.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Arial;
  font-size: 15px;
  background: #333;
  border-right: 1px solid #E2E2E2;
}

.sidr.left {
  left: -260px;
  right: auto;
}

.sidr ul {
  padding: 0;
  display: block;
  margin: 0 0 15px;
  background-color: #333333;
}

.sidr ul li {
  padding-left: 1em;
  padding-right: 1em;
  display: block;
  margin: 0;
  line-height: 48px;
  border-bottom: 1px solid #E2E2E2;
}

.sidr ul li img {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: -15px;
  width: 70px;
  height: 70px;

}

.sidr ul li img.icons {
  float: right;
  padding-top: 5%;
  padding-left: 0px;
  padding-right: 0px;
  width: 25px;
  height: 25px;
}

.sidr ul li a {
  text-decoration: none;
  color: #E2E2E2;
}

.sidr li.active {
  background-color: #555555;
}
