.chat-view {
	width: 100%;
	height: calc(100vh - 50px);
}

.chat-footer {
	width: 100%;	
	position: fixed;
	bottom: 0px;
	border-top: 2px solid;
	border-color: #666666;
	height: 50px;
}

.chat-footer > input {
	height: 46px;
	width: calc(100% - 70px);
	margin-top: 0px;
	border: 0;
	text-align: left;
	padding-left: 10px;
	padding-bottom: 0px;
}

.chat-footer > img {
	float: right;
	width: 46px;
	height: 46px;
	margin: 3px;
}

.chat-body {
	height: calc(100vh - 100px);
	overflow-y: auto;

}

.chat-body > div > p {
	margin: 6px 15px;
	padding: 4px 8px;
	color: white;
	border-radius: 10px;
	font-weight: bold;
}

.chat-body > div > p > span {
	font-size: 11px;
	margin-left: 5px;
	margin-right: 5px;
}

.chat-body > div.left-message {

}

.chat-body > div.left-message > p {
	display: inline-block;
	background-color: #65B4CE;
}

.chat-body > div.right-message {
	text-align: right;
}

.chat-body > div.right-message > p {
	background-color: #8BC34A;
	display: inline-block;
}

::-webkit-scrollbar { 
    display: none; 
}