/* CSS declarations go here */
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color: #444;
	font-family: ARIAL;
	height: 100%;
}

.container {
	height: 100%;
	width: 100%;
}

#login-logo {
	text-align: center;
	margin-top: 18%;
}

#login-logo > img {
	height: 100px;
	width: 100px;
}

.app-name {
	text-align: center;
	color: white;
	font-size: 25px;
	font-family: Arial;
	font-weight: bold; 
}

.forms {
	text-align: center;
}

input {
	text-align: center;
	background: transparent;
	border-bottom: 2px solid #9e9e9e;
	font-family: Arial;
	border-right: none;
	border-top: none;
	border-left: none;
	box-shadow: none;
	border-left: 3px;
	margin-top: 10%;
	color: white;
	font-size: 18px;
	width: 80%;
	height: 15%;
}

input:focus {
	border-bottom: 2px solid #00bcd4;
	outline: none;
}

.login-btn {
	text-align: center;
}

.login-btn > button {
	background-color: #8BC34A;
	box-shadow: none;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
	height: 40px;
	width: 140px;
	margin-top: 45px;

}

p#question {
	color: #00bcd4;
	font-family: Arial;
	text-align: center;
	margin-top: 6%; 
}

p#signup {
	text-align: center;
	font-family: Arial;
	font-size: 18px;
	color: #8BC34A;
}
