.profile {                                                                                                                                                                                    auto;
  text-align: center;
  background-color: #5aae76;
  margin-top: 20%;
  margin-left: 10%;
  border-radius: 10px;
  color:white;
  width: 80%;
  height: 80%;
}

.profile > div{
  margin: 0 auto;
  text-align: center;
  padding: 35px 5px;
  border-bottom: 2px solid;
  border-color: white;
  width: 80%;
  font-size: 18px;
}

.profile > div:last-child{
  border: none;
}

.profile > img {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: -15px;
  width: 70px;
  height: 70px;

}

.profile > div > a {
  text-decoration: none;
  color: white;
}

.icons {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 35px;
  height: 27px;
}

.icon1 {
    padding-left: 8px;
    width: 35px;
    height: 20px;
}

.profilepic {
  text-align: center;
}
.profilepic > img{
    width: 300px;
    height: 300px;
    margin-top: 15%;
    border-radius: 50%;
}

.profilepic {
  text-align: center;
  font-size: 18px;
  color: white;
  padding-top: 5%
}

input[type=date] {
  background: url(images/calendar.png) no-repeat right center;
  background-size:30px 30px;
  text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    -webkit-appearance: none;
    background-color: transparent;
    color: transparent;
    text-align: center;
}

input[type=date]::-webkit-inner-spin-button{
  display: none;
  -webkit-appearance: none;
}

.location > input {
  text-align: center;
  background: transparent;
  border-bottom: 2px solid #9e9e9e;
  font-family: Arial;
  box-shadow: none;
  margin-top: 10%;
  width:80%;
  color: white; 
  font-size: 18px;
  height: 26px;
  background: url(images/location.svg) no-repeat right center;
  background-size: 28px 28px; 
  text-overflow:ellipsis;
  padding-right: 30px;
}

#profile-header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #8BC34A;
}

#profile-header > a {
text-decoration: none;
}

#profile-header > a > img {
  padding-top: 0.5em;
  padding-left: 0.5em;
  float: left;
  z-index: 0;
}
#profile-header > img {
  padding-top: 0.5em;
  padding-right: 0.5em;
  float: right;
  z-index: 0;
}

h3{
  text-align: center;
}
#profile-header > h3 {
  margin: 0 auto;
  padding-top: 0.5em; 
  padding-bottom: 0.5em; 
  text-align: center;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  z-index: -1;
  display: inline-block;
  margin-left: 2em;
  margin-top: 0em;
}

.scrollable {
    height: 30%;
    width: 80%;
    font-family: ARIAL;
    font-size: 16px;
    overflow: scroll;
    background-color: #444;
    color: white;
    margin-top: 6%;
}

#time {
  color: #999;
  margin-top: 10%;
  font-family: ARIAL;
  font-size: 18px;
}

p#to {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    padding-top: 6%;
    color: white;
}

.availability-display {
  margin-top: 10%;
  margin-left: 10%;
  width: 80%;
  height: 80px;
  border: 2px solid #9e9e9e;
  overflow-y: auto;
}

label {
  color: #9e9e9e;
}

.availability-display > table {
  width: 100%;
  text-align: center;
  color: white;
}

.availability-display > table > tr {
  padding: 2px 0px;
}