.profile {                                                                                                                                                                                    auto;
    text-align: center;
    background-color: #5aae76;
    margin-top: 20%;
    margin-left: 10%;
    border-radius: 10px;
    color:white;
    width: 80%;
    height: 80%;
}

.profile > div{
  margin: 0 auto;
  text-align: center;
  padding: 35px 5px;
  border-bottom: 2px solid;
  border-color: white;
  width: 80%;
  font-size: 18px;
}

.profile > div:last-child{
  border: none;
}

.profile > img {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: -15px;
  width: 70px;
  height: 70px;

}

.profile > div > a {
  text-decoration: none;
  color: white;
}

.icons {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  width: 35px;
  height: 27px;
}

.profilepic {
  text-align: center;
}
.profilepic > img{
  width: 200px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
}

.profilepic {
  text-align: center;
  font-size: 18px;
  color: white;
  padding-top: 5%
}