.header{
	text-align: center;
	width: 100%;
	background-color: #8BC34A;
}

h1 {
	text-align: center;
	color: white;
	font-family: ARIAL;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

select {
	text-align-last: center;
 	width: 80%;
    font-size: 18px;
    border: none;
    background: transparent;
	color: white;
    border-bottom: 2px solid #9e9e9e;
	font-family: Arial;
	border-right: none;
	border-top: none;
	border-left: none;
	box-shadow: none;
	outline: none;  
	background-color: #444;
	margin-top: 10%;
}

select : focus{
	border-bottom: 2px solid #00bcd4;
	outline: none;
}

a.green {
	text-decoration: none;
	color: #8BC34A;
}

.create-acc-btn {
	text-align: center;
    margin-top: 15%
}

.create-acc-btn > button {
	background-color: #8BC34A;
	box-shadow: none;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
	padding-left:10px;
	padding-right:10px;
	padding-top: 10px;
	padding-bottom:10px;
}


