
.header{
	text-align: center;
	width: 100%;
	background-color: #8BC34A;
	height:100%;
}

h1 {
	text-align: center;
	color: white;
	font-family: ARIAL;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

select {
	text-align-last: center;
 	width: 80%;
    font-size: 18px;
    border: none;
    background: transparent;
	color: white;
    border-bottom: 2px solid #9e9e9e;
	font-family: Arial;
	border-right: none;
	border-top: none;
	border-left: none;
	box-shadow: none;
	outline: none;  
	background-color: #444;
	margin-top: 10%;
}

select : focus{
	border-bottom: 2px solid #00bcd4;
	outline: none;
}

.location > input {
	text-align: center;
	background: transparent;
	border-bottom: 2px solid #9e9e9e;
	font-family: Arial;
	box-shadow: none;
	margin-top: 10%;
	width:80%;
	color: white; 
	font-size: 18px;
	height: 26px;
  	background: url(images/location.png) no-repeat right center;
  	background-size: 28px 28px; 
}

p#text1 {
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

p#text {
	color: white;
	font-family: ARIAL;
	text-align: center;
	font-size: 18px;
	padding-top: 10%;
}

a.green {
	text-decoration: none;
	color: #8BC34A;
}

.create-acc {
	text-align: center;
	padding-right: 10%;
    padding-top: 35%;
}

.create-acc > button {
	background-color: #8BC34A;
	box-shadow: none;
	border: none;
	border-radius: 7px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	font-family: Arial;
	padding-left:7px;
	padding-right:7px;
	padding-top: 7px;
	padding-bottom:7px;
	float: right;
}

input[type=date] {
	background: url(images/calendar.png) no-repeat right center;
	background-size:30px 30px;
	text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    -webkit-appearance: none;
    background-color: transparent;
    color: transparent;
    text-align: center;
}

input[type=date]::-webkit-inner-spin-button{
	display: none;
	-webkit-appearance: none;
}

.next > img {
    font-size: 12px;
    content: "\27A1";
    color: #8BC34A;
    width: 15%;
    float: right;
    padding-right: 10%;
}

.back > a > img{
    content: "\27A1";
    color: #8BC34A;
    font-size: 12px;
    float: left; 
    width: 15%;
    padding-left: 10%;
    padding-top: 35%;
}

.profile-picture {
	text-align: center;
}
.profile-picture > img{
	width: 200px;
    height: 200px;
    margin-top: 10%;
    border-radius: 50%;
}

.profile-picture > p {
	text-align: center;
	font-size: 18px;
	color: white;
	padding-top: 5%
}

.flex {
  display: flex;
}
